* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.app {
  width: 350px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}


.counter__item {
  width: 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  line-height: 50px;
  font-size: 1rem;
}


.controls {
  max-width: 50%;
}

.btn-list {
  display: flex;
  margin-top:5%;
}

.btn-list button {
  padding: 7px 12px;
  cursor: pointer;
  background-color: #6B7A8F;
  color: white;
}
.btn-list button:hover {
  background-color:#e6e6e6
}



.btn-tab {
  margin-left: 5%;
  height: fit-content;
}

.counter > * {
  padding: 2px;

}